<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Treco</h1>
    <p class="lead">Take And Make Recommendations</p>
    <hr class="my-4">
    <div class="d-flex flex-row bd-highlight mb-3">
        <%= button_to "Login", '/login', method: :get, class: "p-2"%>
        <%= button_to "Sign Up", '/users/new', method: :get, class: "p-2"%>
      </div>
  </div>
</div>


